body {
  margin: 0;
  padding: 0;
  color: black
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.ktp-section {
  width: 100vh;
  padding: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.detect-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(19, 136, 
  233);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.detect-btn:hover {
  background-color: #0056b3;
}

.auth-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.auth-popup p {
  margin-bottom: 10px;
}

.auth-popup button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.auth-popup button:hover {
  background-color: #0056b3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

pre {
  white-space: pre-wrap;
}
